
<div class="container pt-4" id="data_items">
    <table class="table table-bordered" id='tabel_sel'>
    <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col" onclick="sort_title();">Название</th>
            <th scope="col" onclick="sort_volume();">Количество</th>
            <th scope="col" onclick="sort_distance();">Расстояние</th>
        </tr>
        </thead>
        <tbody id="table_body">
        {% for item in table %}
        <tr>
            <th scope="row">{{ item.date }}</th>
            <td>{{ item.title }}</td>
            <td>{{ item.volume }}</td>
            <td>{{ item.distance }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="hidden" id="title_order" value="asc">
    <input type="hidden" id="volume_order" value="asc">
    <input type="hidden" id="distance_order" value="asc">
</div>

<script>
    $(document).ready(function(){
        $('#data_items').after('<div class="container" id="nav"></div>');
        let rowsShown = 10;
        let rowsTotal = $('#data_items tbody tr').length;
        let numPages = rowsTotal/rowsShown;
        for(i = 0;i < numPages;i++) {
            let pageNum = i + 1;
            $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
        }
        $('#data_items tbody tr').hide();
        $('#data_items tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function(){

            $('#nav a').removeClass('active');
            $(this).addClass('active');
            let currPage = $(this).attr('rel');
            let startItem = currPage * rowsShown;
            let endItem = startItem + rowsShown;
            $('#data_items tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                    css('display','table-row').animate({opacity:1}, 300);
        });
    });

    function sort_title() {
        let table = $("#tabel_sel");
        let tbody = $("#table_body");

        tbody.find('tr').sort(function(a, b) {
            if($('#title_order').val()=='asc') {
                return $('td:first', a).text().localeCompare($('td:first', b).text());
            }
            else {
                return $('td:first', b).text().localeCompare($('td:first', a).text());
            }
        }).appendTo(tbody);

        let sort_order = $('#title_order').val()
        if(sort_order=="asc") {
            document.getElementById("title_order").value="desc";
        }
        if(sort_order=="desc")
        {
            document.getElementById("title_order").value="asc";
        }
    }

    function sort_volume() {
        if($("#volume_order").val()=='asc') {
            let sortedRow = Array.from(tabel_sel.rows).slice(1).sort((rowA, rowB) => rowA.cells[2].innerHTML > rowB.cells[2].innerHTML ? 1 : -1);
            tabel_sel.tBodies[0].append(...sortedRow);
        }
        else {
            let sortedRow = Array.from(tabel_sel.rows).slice(1).sort((rowB, rowA) => rowB.cells[2].innerHTML > rowA.cells[2].innerHTML ? -1 : 1);
            tabel_sel.tBodies[0].append(...sortedRow);
        };

        let sort_order = $('#volume_order').val()
        if(sort_order=="asc") {
            document.getElementById("volume_order").value="desc";
        }
        if(sort_order=="desc")
        {
            document.getElementById("volume_order").value="asc";
        }
    }

    function sort_distance() {
        if($("#distance_order").val()=='asc') {
            let sortedRow = Array.from(tabel_sel.rows).slice(1).sort((rowA, rowB) => rowA.cells[3].innerHTML > rowB.cells[3].innerHTML ? 1 : -1);
            tabel_sel.tBodies[0].append(...sortedRow);
        }
        else {
            let sortedRow = Array.from(tabel_sel.rows).slice(1).sort((rowB, rowA) => rowB.cells[3].innerHTML > rowA.cells[3].innerHTML ? -1 : 1);
            tabel_sel.tBodies[0].append(...sortedRow);
        };

        let sort_order = $('#distance_order').val()
        if(sort_order=="asc") {
            document.getElementById("distance_order").value="desc";
        }
        if(sort_order=="desc")
        {
            document.getElementById("distance_order").value="asc";
        }
    }

</script>