<script src="{{ url_for('static', filename='paginations.js') }}"></script>
<script src="{{ url_for('static', filename='sort.js') }}"></script>

<div class="container pt-4" id="data_items">
    <table class="table table-bordered" id='tabel_sel'>
    <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col"><a href="#" onclick="sort_title();">Название</a></th>
            <th scope="col"><a href="#" onclick="sort_volume();">Количество</a></th>
            <th scope="col"><a href="#" onclick="sort_distance();">Расстояние</a></th>
        </tr>
        </thead>
        <tbody id="table_body">
        {% for item in table %}
        <tr>
            <th scope="row">{{ item.date }}</th>
            <td>{{ item.title }}</td>
            <td>{{ item.volume }}</td>
            <td>{{ item.distance }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="hidden" id="title_order" value="asc">
    <input type="hidden" id="volume_order" value="asc">
    <input type="hidden" id="distance_order" value="asc">
</div>